/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2015-sep-17, 21:04:25
    Author     : kans-th0
*/

div.jqcloud span.vertical {
        -webkit-writing-mode: vertical-rl;
        writing-mode: tb-rl;
      }
      
      .lthsolr_job_apply_button {
          display:none;
          margin:25px 0px 50px 0px;
      }
      
#lthsolr_compare_container .list-group-item {
    cursor:pointer;
}

#lthsolr_show_staff_container {
    position:relative;
}

.lthsolr_pubtype {
    font-size:12px;
    color:#959595;
}

.lthsolr_contact_image {
    float:left;
    width:100px;
    padding:0px;
    margin-right:2.5%;
}

.lthsolr_contact_image img {
    width:100%;
    height:auto;
}

.lthsolr_contact_text {
    float:left;
    width:60%;
}

.lthsolr_contact_text div {
    max-width:225px;
}

.ui-menu-item-wrapper, .ui-menu-item-wrapper {
    white-space: nowrap;
    max-width:273px;
    overflow:hidden;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

.fa-search-pos {
    margin-left:140px !important;
}

.fa-download {
    vertical-align:-25%;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#lth_solr_container {
    max-width:800px;
    color:black;
}

#lth_solr_container .tab-content {
    padding-top:0px;
}

.lthsolr_email, .lthsolr_home {
    border:0px !important;
    width:32px;
    height:32px;
}

.lthsolr_home {
    margin-left:10px;
}

.refine {
    cursor:pointer;
}

.dt-buttons {
    clear:both;
}

.maxlist-hidden, .maxlist-all {
    display:none;
}

p.type {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18.2px;
    font-size: 1.4rem;
    line-height: 1.82rem;
    font-family: Georgia;
    color: #8E5614;
    margin-bottom: 15px;
}

.item-list ul, #lthsolr_staff_container ul {
    padding:0px;
}

.lthsolr_profileinformation {
    clear:both;
    max-width:550px;  
    padding-top:10px;
}

.lthsolr_filler {
    float:right;
    width:170px;
    height:110px;
}

#exportModal ul li {
    list-style:none !important;
    float:left;
    margin:0px 10px 0px 0px;
}

.lthsolr_contact {
    margin: 0px 0px 10px 0px;
    padding: 0;
    padding-left:0.5%;
    padding-right:0.5%;
    padding-top:0.5%;
    padding-bottom:2%;
    vertical-align: baseline;
    outline: none;
    font-size: 100%;
    background: transparent;
    border: none;
    text-decoration: none;
    float:left;
    width:50%;
    display:block;
    min-height:160px;
    overflow: hidden;
    line-height:20px;
}

.lthsolr_contact_image img {
    max-height:170px;
}

.lthsolr_contact img {
    border:1px #ccc solid;
}

.lthsolr_contact a {
    text-decoration: none;
    color:#000;
}

#lthsolr_publications_container, #lthsolr_courses_container,#lthsolr_staff_container, #lthsolr_pages_container {
    width:100%;
}

.lthSolrPagesRow {
    margin-top:10px;
}

#lthsolr_publications_header, #lthsolr_publications_sort select {
        font-size:17px;
    }
    
    #lthsolr_publications_header {
        padding-top:6px;
    }

#lth_solr_facet_container {
    /*margin-bottom:10px;
    width:200px;
    
    background-color:#353838;
    padding-right:10px;
    color:#ffffff;
    position:relative;
    display:none;*/
    /*width:200px;
    float:left;
    border-right:1px #808080 solid;*/
    font-size:12px;
    width:100%;
    clear:both;
    margin:20px 0px 0px 0px;
    padding:0px 0px 0px 25px;
}

#lth_solr_facet_container ul {
    padding-left:0px;
}

#lth_solr_facet_container ul li {
    list-style: none;
    margin-top:3px;
}

#lth_solr_facet_container label {
    font-weight:normal;
}

#lth_solr_facet_container input {
    margin:0px;
}

.lthsolr_facet_close {
    position:absolute;
    right:5px;
    top:5px;
    cursor: pointer;
    font-size:1.4rem;
}

#lthsolr_tagcloud_container {
    height:700px;
    width:650px;
}

#lthsolr_sort {
    border:none;
}

select {

    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

select::-ms-expand {
    display: none;
}

select {
  font-family: 'FontAwesome', 'sans-serif', 'arial';
}

#lthsolrAbstract {
    margin-bottom: 10px;
}

#toggle-link {
    margin-top:10px;
}

#lth_solr_filter_container {
    /*margin-bottom:0px;
    background-color:#fafafa;
    border-bottom: 1px #ebebeb solid;
    max-width: 650px;*/
    font-size:12px;
    width:100%;
    color:#808080;
    height:30px;
}

.lth_solr_filter_container a {
    color: #808080 !important;
}

.search-wrapper {
     padding-top: 30px !important;
}

.solr-search-widget.search {
    width: 910px !important;
    background-color: #ffffff !important;
   
}

#search-content {
    border: 1px solid brown;
}

#solrtab-customsites {
   /* background-color: #dedede !important;*/
}

.solr-search-widget .main-results {
    width: 620px !important;
}

.solr-search-widget .sidebar {
    margin-top: 30px !important;
}

td.details-control {
    background: url('details_open.png') no-repeat center center;
    cursor: pointer;
}

tr.details td.details-control {
    background: url('details_close.png') no-repeat center center;
}

.lthsolr_row {
    clear:both;
    border-bottom:1px solid #dedede;
    padding-bottom:10px;
    margin-top:10px;
    margin-bottom:10px;
}

.lthsolr_image_template.lthsolr_row {
    min-height:110px;
}

#lthsolr_search_container {
    max-width: 850px;
}

#lthsolr_search_container ul li {
    list-style:none !important;
}

#lthsolr_search_container ul {
    padding-left:0px !important;
}

/*#lthsolr_search_container li {
    float:left;
    min-width:220px;
    min-height:100px;
    display: inline-block;
}*/

.lthsolr_publication_row, .lthsolr_project_row, .lthsolr_staff_row {
    border-bottom: 1px solid #dedede;
    padding:15px 0px 15px 10px;
    position:relative;
    max-width:650px;
}

.lthsolr_publication_row:hover {
    background-color:#f9f9f9;
}

.lthsolr_publication_simple_row {
    padding:0px 0px 7px 0px;
    position:relative;
}

.tab-content {
    font-size:1.4rem;
    line-height:1.82rem;
}

.nav-tabs > li {
    margin-bottom: 1px !important;
    font-size:1.4rem;
    font-weight:600;
}

li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: white !important;
}

.nav-tabs > li > a {
    text-decoration:none !important;
}

.less-content {
    height: 80px; overflow: hidden;
}

.more-content {
    display:block;
}

.type {
    font-size: 12px;
    color: #959595;
}

.title, .authors {
    max-width:80%;
}

.lthsolr_electronicVersion {
    position:absolute;
    right:5px;
    top:0px;
}

.item-list li {
    display:block;
}

.expand {
    max-width:450px;
    padding-left:10px;
}

#lthsolr_publications_container a {
    text-decoration:none;
}

#lthsolr_publications_container p {
    margin:0px;
    padding:0px;
}

#lthsolr_publications_container h3 {
    line-height:14px;
}

#lthsolr_staff_header {
    width:100%;
    margin-top:15px;
    margin-bottom:15px;
}

.lth_solr_facet {
    vertical-align:middle;
}

.maxlist-more {
    clear: both;
    margin-left:10px;
}

.maxlist-more a {
    text-decoration:none;
}

.lthsolr_loader {
    width:16px;
    height: 16px;
}

h2 a, h3 a, h4 a {
    text-decoration:none !important;
}
h4 a, h4 {
    color: #000000 !important;
}

h4 {
    font-size: 1em;
    line-height:1.6em;
    font-weight:bold;
}

h2 {
}

.lthsolr_more {
    margin-left:15px;
    
}

.fa {
    margin-left: 3px;
    margin-right: 3px;
}

.lthsolr_more a {
    color: #000000 !important;
    text-decoration: none !important;
}

.pagelink a {
    color: #006621 !important;
}

#lthsolr_people_header, #lthsolr_pages_header, #lthsolr_courses_header {
    /*margin:0px 0px 10px 0px;*/
    clear:both;
}

.lth_solr_search_header {
    font-size:1.5em;
    border-bottoma:1px blue solid;
}


#lthsolr_pages_container {
    /*padding-right:15px;*/
}


#lthsolr_staff_container a, #lthsolr_pages_container a, #lthsolr_courses_container a {
    /*text-decoration:none !important;
    color: #000000 !important;*/
}

#lthsolr_pages_container li {
    /*margin-bottom:15px;*/
}

.lthsolr_table_wrapper {
    background-colorq: #fbfbfb;
    border-radius: 5px;
    padding-left:15px;
    padding-top:5px;
    margin-top:15px;
    border:2px #f7f7f7 solid;
    overflow: hidden;
}

.lthsolr_filter {
    font-size: 14px;
}

.glyphicon-search {
    font-size: 14px;
}

.glyphicon-filter, .glyphicon-export {
    font-size: 15px;
}

/*#lthsolr_staff_container td, #lthsolr_pages_container td, #lthsolr_documents_container td, #lthsolr_courses_container td {
    min-width:270px;
    border:0px;
    white-space: normal !important;
    padding-bottom:15px;
    padding-left:0px;
}*/

.lth_solr_res {
    float:left;
    width:150px;
    min-height:500px;
    display:block;
}

#lth_solr_hidden_tools {
    display:none;
}

#lth_solr_tools a, #lth_solr_hidden_tools a {
    text-decoration: none;
    color: #777;
}

.readmore {
    margin-bottom:10px;
}

.lth_solr_hide {
    display: none;
}

#lthsolr_map {
    position:absolute;
    top:10px;
    right:10px;
    z-index:999;
    display:none;
}

.lth_solr_stat_program_table td, .lth_solr_stat_program_table th {
    white-space: nowrap;
    vertical-align: top;
}

#lthsolr_statistics_container .fa-info-circle {
    cursor: pointer;
    margin-left: 10px;
}



/* Styling LU widget start */
.autocomplete-output {
display:none;
}
.page-header, .search-wrapper {
border:0px;
margin:0px;
padding:0px !important;
}
.page-header {
margin-bottom:30px;
}
.search-field-wrapper {
margin: auto;
    width: 50%;
clear:both;
}
.search-field {
width:260px;
float:left;
border-left:1px #ccc solid;
border-top:1px #ccc solid;
border-bottom:1px #ccc solid;
border-right:0px;
border-radius:4px 0px 0px 4px;
}
.form-submit {
border:1px #ccc solid;
border-radius:0px 4px 4px 0px;
}
#search-content {
border:0px;
}
.search-tab {

}
.search-tab-header ul {
max-length:550px;
height:51px;
}
.solrtab-header.active {
background-color:#337ab7;
color:#ffffff;
border-radius: 4px;
}
.search-results-wrapper {
display:none;
}
.search-results-wrapper.active {
display:block;
}
.sub-region.sidebar, .element-invisible {
display:none;
}
.solrtab-header {
padding:15px;
font-size:1.1em;
cursor:pointer;
}
.solrtab-header.last {

}
.search-page-title {
display:none;
}
.hits-list-result {
margin-top:10px;
}
.pager-item {
padding:3px 7px 3px 7px;
margin-right:8px;
cursor:pointer;
border:1px #ddd solid;
border-radius:4px;
}
.pager-item.pager-current {
background-color:#337ab7;
color:#ffffff;
}

.lth_solr_res {
    padding:15px;
    position:fixed;
    width:50px;
    height:100px;
}

.lth_solr_left_nav {
    height: 1000px;
    padding:40px;
    width: 150px;
}
/* Styling LU widget end */

/* DESKTOP CHANGES */
@media all and (min-width: 641px) {
  .lthsolr_image_template p, .lthsolr_image_template h3 {margin-left:80px !important}
}

@media screen and (max-width: 600px) {
    
    .title, .authors {
        max-width:100%;
    }
   
    .lthsolr_contact_image {
        padding:0px;
        width:100%;
    }
    
    .lthsolr_contact_image img {
        width: 50% !important;
        display: block;
        margin: 0 auto;
        max-width:150px;
    }

    .lthsolr_contact_text {
        width:100%;
        text-align: center;
        margin: 0 auto;
    }
    
    .lthsolr_contact_text:after {
        content: ""; /* This is necessary for the pseudo element to work. */ 
        display: block; /* This will put the pseudo element on its own line. */
        margin: 0 auto; /* This will center the border. */
        width: 60%; /* Change this to whatever width you want. */
        padding-top: 20px; /* This creates some space between the element and the border. */
        border-bottom: 1px solid #cccccc; /* This creates the border. Replace black with whatever color you want. */
    }
    
    .lthsolr_contact_text div {
       max-width:500px; 
    }
    
    .lthsolr_email, .lthsolr_home {
        border:0px !important;
        width:32px !important;
        height:32px !important;
        
    }
    
    .fa-search-pos {
        margin-left:40px !important;
    }

    #lthsolr_staff_container, #lthsolr_publications_container, #lthsolr_pages_container, #lthsolr_courses_container {
        width:100%;
        font-size:14px;
    }
    
    #lthsolr_publications_header, #lthsolr_publications_sort select {
        font-size:14px;
    }
    
    #lthsolr_publications_header {
        padding-top:3px;
    }
    
    .lthsolr_contact {
        width:100%;
        margin-bottom:20px;
        line-height: 27px !important;
        min-height:100px;
        margin-left:auto;
    }
    
    #lth_solr_facet_container {
        border:0px;
        padding:0px;
        margin:0px;
    }
    
    #lthsolr_map {
        position:relative;
        top:10px;
        right:10px;
        z-index:999;
        display:none;
    }
    
    .lthsolr_noimage {
        display:none;
    }
}