/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2015-sep-17, 21:04:25
    Author     : kans-th0
*/
.dt-buttons {
    clear:both;
}

.maxlist-hidden {
    display:none;
}

.item-list ul {
    padding:0px;
}

.item-list ul li{
    list-style:none !important;
}

#lth_solr_facet_container {
    margin-top:10px;
}

.search-wrapper {
     padding-top: 30px !important;
}

.solr-search-widget.search {
    width: 910px !important;
    background-color: #ffffff !important;
   
}

#search-content {
    border: 1px solid brown;
}

#solrtab-customsites {
   /* background-color: #dedede !important;*/
}

.solr-search-widget .main-results {
    width: 620px !important;
}

.solr-search-widget .sidebar {
    margin-top: 30px !important;
}

td.details-control {
    background: url('details_open.png') no-repeat center center;
    cursor: pointer;
}

tr.details td.details-control {
    background: url('details_close.png') no-repeat center center;
}

.lthsolr_row {
    clear:both;
    margin-top:15px;
    margin-bottom:10px;
    padding-bottom:10px;
    cursor: pointer;
    border-bottom:1px solid #dedede
}

.lthsolr_publication_row, .lthsolr_project_row {
    border-bottom: 1px solid #dedede;
    margin-top:15px;
    cursor: pointer;
}

.lthsolr_filter {
    width: 200px;
    height: 25px;
}

.item-list li {
    float:left;
}

#lthsolr_staff_container, #lthsolr_publications_container {
    clear:both;
    max-width:500px;
}

#lthsolr_staff_header {
    padding-top:7px;
    clear:both;
}

.lth_solr_facet {
    margin-right: 10px !important;
}

/* DESKTOP CHANGES */
@media all and (min-width: 641px) {
  .lthsolr_image_template p, .lthsolr_image_template h3 {margin-left:80px !important}
}