/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2015-sep-17, 21:04:25
    Author     : kans-th0
*/
.grid-23 {
}
.grid-15 {
}
.grid-8 {
}


.dt-buttons {
    clear:both;
}

.maxlist-hidden {
    display:none;
}

.item-list ul {
    padding:0px;
}

.item-list ul li{
    list-style:none !important;
}

#lth_solr_facet_container {
    margin-top:30px;
    width: 197px;
}

.search-wrapper {
     padding-top: 30px !important;
}

.solr-search-widget.search {
    width: 910px !important;
    background-color: #ffffff !important;
   
}

#search-content {
    border: 1px solid brown;
}

#solrtab-customsites {
   /* background-color: #dedede !important;*/
}

.solr-search-widget .main-results {
    width: 620px !important;
}

.solr-search-widget .sidebar {
    margin-top: 30px !important;
}