<!--<table id="lthsolr_table" class="display" cellspacing="0" cellpadding="0" width="100%">
    <thead><tr><th></th></tr></thead>
    <tbody id="table_data_container">
        
    </tbody>
</table>
-->
<script id="solrTemplate" type="text/x-jquery-templ">
    <div id="###id###" class="lthsolr_image_template lthsolr_staff_row">
        ###image_t###
        <h3>###display_name_t###</h3>
        <p>###title_t###, ###oname_t### ###room_number_s###</p>
        <p>
            <a href="mailto:###email_t###">###email_t###</a>
            ###phone_t###<br>
        </p>
        ###homepage_t###
        ###lth_solr_intro###
    </div>
</script>
