<script id="solrStaffTemplate" type="text/x-jquery-templ">
    <div id="###id###" class="lthsolr_contact">
        <div>
            <div style="float:left;width:100px;padding:0px;margin-right:2.5%;">###image###</div>
            <div style="float:left;width:60%;">
                <div style="font-weight:600;margin-bottom:7px;">###displayName###</div>
                <div><p>###title###, ###organisationName###</p></div>
                <div>###phone######homepage###</div>
                <div><a href="mailto:###email###" title="###email###"><img class="lthsolr_email" src="/typo3conf/ext/lth_solr/res/email.png" /></a></div>
            </div>
        </div>
    </div>
</script>
