<html>
    <!-- ###TEMPLATE### begin -->
<div class="person people clearfix">
    <hr>
    <div class="">
      <img class="align_left" src="###IMAGE###" width="100" height="100">
      <h3>###FIRST_NAME### ###LAST_NAME###</h3>
      <p>###TITLE###, ###SUBJECT###</p>
      <p>
        <a href="#">###EMAIL###</a><br>
        Telefon: ###PHONE###<br>
      </p>
    </div>
    <p>###COMMENTS###</p>
    <p><a href="#">Läs mer om ###FIRST_NAME### ###LAST_NAME###</a></p>
</div>
    <!-- ###TEMPLATE### end -->
</html>
