<script id="solrStaffTemplate" type="text/x-jquery-templ">
    <div id="###id###" class="lthsolr_contact">
        <div>
            <div class="lthsolr_contact_image">###image###</div>
            <div class="lthsolr_contact_text">
                <div style="font-weight:600;margin-bottom:0px;">###displayName###</div>
                <div style="margin-bottom:0px;">###affiliation###</div>
                <div><a href="mailto:###email###" title="###email###"><img class="lthsolr_email" src="/typo3conf/ext/lth_solr/res/email.png" /></a>###homepage###</div>
            </div>
        </div>
    </div>
</script>
