<html>
    <!-- ###TEMPLATE### begin -->
<div class="person single-person">
								<div class="clearfix">
									<img class="align_left" src="../exempelbilder/hostbild.jpg" width="140px" height="170px">
									<h2>Johanna Akujärvi</h2>
									<p>
										Fil dr., docent<br>
										Grekiska
									</p>
									<p>
										<a href="#">Johanna.Akujarvi@klass.lu.se</a><br>
										Telefon: 046–222 96 63<br>
										Rum: A225
									</p>
								</div>
							</div>
    <!-- ###TEMPLATE### end -->
</html>
