<table id="lthsolr_table" class="display" cellspacing="0" cellpadding="0" width="100%">
    <thead><tr><th>Name</th></tr></thead>
    <tbody id="table_data_container">
        
    </tbody>
</table>

<script id="solrTemplate" type="text/x-jquery-templ">
    <div class="">
        <h2>###display_name_t###</h2>
        <p>###oname_t###</p>
        <p>
            <a href="email_t">###email_t###</a><br>
            Telefon: ###phone_t###<br>
        </p>
    </div>
    <p>###lth_solr_txt###</p>
    <p><a href="homepage_t">Läs mer om ###display_name_t###</a></p>
</script>