<!--<table id="lthsolr_table" class="display" cellspacing="0" cellpadding="0" width="100%">
    <thead><tr><th></th></tr></thead>
    <tbody id="table_data_container">
        
    </tbody>
</table>
-->
<script id="solrTemplate" type="text/x-jquery-templ">
    <div id="###id###" class="lthsolr_image_template lthsolr_staff_row">
        ###image###
        <h3>###displayName###</h3>
        <p>###title###, ###organisationName### ###roomNumber###</p>
        <p>
            <a href="mailto:###email###">###email###</a>
            ###phone###<br>
        </p>
        ###homepage###
        ###lth_solr_intro###
    </div>
</script>
