<table id="lthsolr_table" class="display" cellspacing="0" cellpadding="0" width="100%">
    <thead><tr><th>Name</th></tr></thead>
    <tbody id="table_data_container">
        
    </tbody>
</table>

<script id="solrTemplate" type="text/x-jquery-templ">
    <div class="">
        <img class="align_left" src="###image_t###" style="width:100px;height:100px;" />
        <h3>###display_name_t###</h3>
        <p>###title_t###, ###oname_t### ###room_number_s###</p>
        <p>
            <a href="mailto:###email_t###">###email_t###</a>
            Telefon: ###phone_t###<br>
        </p>
        <p>###lth_solr_intro###</p>
        <p>###homepage_t###</p>
    </div>
</script>
