<table id="lthsolr_table" class="display" cellspacing="0" cellpadding="0" width="100%">
    <thead><tr><th>Name</th></tr></thead>
    <tbody id="table_data_container">
        
    </tbody>
</table>

<script id="solrTemplate" type="text/x-jquery-templ">
    <div class="">
        <h2>###display_name_t###</h2>
        <p>###SUBJECT###,###title_t###</p>
        <p>
            <a href="mailto:###EMAIL###">###email_t###</a><br />
            Telefon: ###phone_t###<br />
            ###homepage_t###
        </p>
    </div>
</script>