<!--<table id="lthsolr_table" class="display" cellspacing="0" cellpadding="0" width="100%">
    <thead><tr><th>Name</th></tr></thead>
    <tbody id="table_data_container">
        
    </tbody>
</table>-->

<script id="solrCourseTemplate" type="text/x-jquery-templ">
    <article class="py-4 border-bottom">
      <h3 class="mt-0">
          <a href="###link###">###courseTitle###</a>
      </h3>
      <div class="font-weight-light">
          <p class="font-weight-normal">###credit### HP&nbsp;•&nbsp; ###coursePlace###</p>
      </div>
    </article>
</script>