<!--<table id="lthsolr_table" class="display" cellspacing="0" cellpadding="0" width="100%">
    <thead><tr><th>Name</th></tr></thead>
    <tbody id="table_data_container">
        
    </tbody>
</table>-->

<script id="solrJobTemplate" type="text/x-jquery-templ">
    <a href="###link###" class="card card-item nav-block bg-transparent card-item-lined nav-block-hover-plaster-25 px-2 flex-row" title="###jobTitle###">
        <div class="card-body">
            <div class="meta ">
                <date class="meta-date">###endDate###</date>
                <span class="meta-category">###category###</span>
                <span class="meta-category">###type###</span>
            </div>
            <h3 class="nav-block-link mt-0 mb-2 h4">###jobTitle###</h3>
        </div>
    </a>
</script>