<div class="row my-8">
        <div class="col-12 text-center">
            <h2>Avhandlingar och examensarbeten</h2>
        </div>
    </div>
<div class="swipe swipe-sm-none search-result" id="swipe">
    
    <div class="row swipe-inner" style="width: calc(300% - 30px);">
        
    </div>
</div>

<!-- <div class="swipe-steps d-sm-none" data-spy="scroll-x" data-source="#swipe"></div> -->
<script id="solrSwipeTemplate" type="text/x-jquery-templ">
    <!-- <div class="col swipe-target col-sm-6 col-md d-nones d-sm-flex mb-sm-5" data-index="###i###" id="swipe-target-###i###" style="max-width:300px; height:300px; overflow:hidden;"> -->
    <div class="col swipe-target col-sm-6 col-md-4 col-xl-3 mb-sm-5" data-index="###i###" id="swipe-target-###i###" style="height:300px; overflow:hidden;">
        <a href="javacsript:" class="card nav-block nav-block-###bgColor###-25 nav-block-hover-###bgColor###-25 h-100">
            <div class="card-body">
                <h6>###docType###: ###title###</h6>
                <p>###authorName###</p>
                <p>###publicationDate###</p>
            </div>
            <!-- <div class="nav-block-link  align-self-end nav-block-link">Läs mer&nbsp;<i class="fal fa-chevron-circle-right  fa-lg"></i>
            </div> -->
        </a>
    </div>
</script>



