<table id="lthsolr_table" class="display" cellspacing="0" cellpadding="0" width="100%">
    <thead><tr><th>Name</th></tr></thead>
    <tbody id="table_data_container">
        
    </tbody>
</table>

<script id="solrTemplate" type="text/x-jquery-templ">
					
        <p><img src="###image_t###" style="width:224px;" alt="###display_name_t###" /></p>
        <h2>Kontakt</h2>
        <p>
                <strong>###display_name_t###</strong><br>
                ###title_t###<br />
                ###oname_t###
        </p>
        <p>
                <a href="#">###email_t###</a><br />
                Telefon: ###phone_t###<br>
                ###room_number_txt###
        <p>
        <p>
                Besöksadress:<br>
                ###STREET###
        </p>
        <p>
                Postadress:<br>
                ###oname_t###<br>
                ###ADDRESS###, ###ZIP###
        </p>
        <p>
                Interpost: Hs ###maldelivery_txt###
        </p>

        <p>###publicationList###<p>
						
</script>