<table id="lthsolr_table" class="display" cellspacing="0" cellpadding="0" width="100%">
    <thead><tr><th>Name</th></tr></thead>
    <tbody id="table_data_container">
        
    </tbody>
</table>

<script id="solrTemplate" type="text/x-jquery-templ">
					
        <p><img src="###image###" style="width:224px;" alt="###displayName###" /></p>
        <h2>Kontakt</h2>
        <p>
                <strong>###displayName###</strong><br>
                ###title###<br />
                ###organisationName###
        </p>
        <p>
                <a href="#">###email###</a><br />
                Telefon: ###phone###<br>
                ###room_number_txt###
        <p>
        <p>
                Besöksadress:<br>
                ###STREET###
        </p>
        <p>
                Postadress:<br>
                ###organisationName###<br>
                ###ADDRESS###, ###ZIP###
        </p>
        <p>
                Interpost: Hs ###maldelivery_txt###
        </p>

        <p>###publicationList###<p>
						
</script>