<table id="lthsolr_table" class="display" cellspacing="0" cellpadding="0" width="100%">
    <thead><tr><th>Name</th></tr></thead>
    <tbody id="table_data_container">
        
    </tbody>
</table>

<script id="solrTemplate" type="text/x-jquery-templ">
    <header id="inst_page_title">
        <h1>###NAME###</h1>
    </header>
    <p>###COMMENTS###</p>
    <h2>Forskning </h2>
    <p><a href="#">Pågående projekt</a></p>
    <p><a href="#">Avslutade projekt</a></p>
    <p><a href="/?id=###LUPPAGE###&scope=###USERNAME###">Publikationer</a></p>
</script>
