<!--<table id="lthsolr_table" class="display" cellspacing="0" cellpadding="0" width="100%">
    <thead><tr><th></th></tr></thead>
    <tbody id="table_data_container">
        
    </tbody>
</table>-->

<script id="solrProjectTemplate" type="text/x-jquery-templ">
    ###projectDescription###
    <div>
        <p><b>Period</b><br />###startDate### -- ###endDate###</p>
        <p>###participants###</p>
        <p><b>Project Status</b><br />###projectStatus###</p>
    </div>
</script>