<!--<table id="lthsolr_table" class="display" cellspacing="0" cellpadding="0" width="100%">
    <thead><tr><th>Name</th></tr></thead>
    <tbody id="table_data_container">
        
    </tbody>
</table>-->

<script id="solrProjectTemplate" type="text/x-jquery-templ">
    <div id="###id###" class="lthsolr_project_row">
        <h4>###title###</h4>
        <p>###participants###</p>
        <p>###projectStartDate### -- ###projectEndDate###</p>
        <p>###projectStatus###</p>
    </div>
</script>