<!--<table id="lthsolr_table" class="display" cellspacing="0" cellpadding="0" width="100%">
    <thead><tr><th></th></tr></thead>
    <tbody id="table_data_container">
        
    </tbody>
</table>-->

<script id="solrProjectTemplate" type="text/x-jquery-templ">
    ###projectDescription###
    <div>
        <p><b>Period</b><br />###startDate### -- ###endDate###</p>
        <p><b>managingOrganisationName</b><br />###managingOrganisationName###</p>
        <p><b>organisationId</b><br />###organisationId###</p>
        <p><b>organisationName</b><br />###organisationName###</p>
        <p><b>organisationType</b><br />###organisationType###</p>
        <p><b>###participants###</p>
        <p><b>projectStatus</b><br />###projectStatus###</p>
        <p><b>projectType</b><br />###projectType###</p>
        <p><b>visibility</b><br />###visibility###</p>
    </div>
</script>