<!--<table id="lthsolr_table" class="display" cellspacing="0" cellpadding="0" width="100%">
    <thead><tr><th></th></tr></thead>
    <tbody id="table_data_container">
        
    </tbody>
</table>-->

<script id="solrTemplate" type="text/x-jquery-templ">
    <div><div class="textblock more-content" style="height: 80px; overflow: hidden;">###abstract###</div>

    <a href="#" onclick="showMore(this);return false;" class="readmore" data-height="144">More</a></div>
    
    <div>
        <p>###authors###</p>
        <p>###organisations###</p>
        <p>###externalOrganisations###</p>
        <p>###language###</p>
        <p>###pages###</p>
        <p>###numberOfPages###</p>
        <p>###volume###</p>
        <p>###journalNumber###</p>
        <p>###publicationStatus###</p>
        <p>###peerReview###</p>
    </div>
</script>