<script id="solrPublicationTemplate" type="text/x-jquery-templ">
    <article id="###id###" class="mt-4 mt-lg-6 d-flex flex-column flex-lg-row border-bottom border-lg-bottom-0 pb-3 pb-lg-0">
        <div class="">
            <h2 class="h3 mt-0"><a class="nav-undecorated postItLink" href="###link###">###title###</a></h2>
            <p>
                ###authorName###, <span class="date">###publicationDate###</span>, (###publicationStatus###)###publisher### ###pages###
            </p>
            <p>###publicationType###</p>
            <p>###electronicVersion###</p>
        </div>
    </article>
</script>