<!--<table id="lthsolr_table" class="display" cellspacing="0" cellpadding="0" width="100%">
    <thead><tr><th></th></tr></thead>
    <tbody id="table_data_container">
        
    </tbody>
</table>-->

<script id="solrTemplate" type="text/x-jquery-templ">
    <ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#1a">Översikt</a></li>
  <li><a data-toggle="tab" href="#2a">Cite</a></li>
  <li><a data-toggle="tab" href="#3a">Bibtex</a></li>
</ul>
    <div class="tab-content clearfix">
        <div class="tab-pane active" id="1a">
            <div>
                <div class="textblock more-content" style="height: 80px; overflow: hidden;">###abstract###</div>

                <a href="#" onclick="showMore();return false;" class="readmore" data-height="144">###more###</a>
            </div>

            <div>
                ###authors###
                ###organisations###
                ###externalOrganisations###
                ###language###
                ###pages###
                ###numberOfPages###
                ###journalTitle###
                ###volume###
                ###journalNumber###
                ###publicationStatus###
                ###peerReview###
            </div>
        </div>

        <div class="tab-pane" id="2a">
            <h3>Standard</h3>
            ###standard###.

            <h3>Harvard</h3>
            ###harvard###
            
            <h3>APA</h3>
            ###apa###
            
            <h3>Vancouver</h3>
            ###vancouver###
            
            <h3>Author</h3>
            ###author###
            
            <h3>RIS</h3>
            ###ris###
	</div>

        <div class="tab-pane" id="3a">
            <h3>Bibtex</h3>
            ###bibtex###
        </div>

    </div>
  
</script>