<script id="solrTemplate" type="text/x-jquery-templ">
    <div class="mt-6 flex-lg-row" id="lthSolrAuthors">
    </div>
    <div class="my-4 flex-lg-row" id="lthSolrOrganisations">
    </div>
    <div class="mb-6 flex-lg-row" id="lthSolrAbstract">
    </div>
    <div class="mb-6 flex-lg-row">
        <table class="table" id="lthSolrPublicationFactsTable">
            <tbody class="">
            </tbody>
        </table>
    </div>
    <div class="mb-6 flex-lg-row" id="lthSolrBibliographicalNote">
    </div>
    <div class="mb-6 flex-lg-row" id="lthSolrKeywords">
        <table class="table">
            <tbody class="">
            </tbody>
        </table>
    </div>
    <div class="mb-6 flex-lg-row" id="lthSolrEvent">
        <table class="table">
            <tbody class="">
            </tbody>
        </table>
    </div>
    <div class="mb-6 flex-lg-row" id="lthSolrCiteThis">
        <ul class="nav nav-tabs nav-undecorated">
        </ul>
        <div class="tab-content mb-6">
            
        </div>
    </div>
</script>