<!--<table id="lthsolr_table" class="display" cellspacing="0" cellpadding="0" width="100%">
    <thead><tr><th>Name</th></tr></thead>
    <tbody id="table_data_container">
        
    </tbody>
</table>-->

<script id="solrPublicationTemplate" type="text/x-jquery-templ">
    <div id="###id###" class="lthsolr_publication_row">
        <p>###title###</p>
        <p>###authorName### ###publicationDate### ###pages### ###journalTitle###</p>
        <p>###publicationType###</p>
    </div>
</script>