<!--<table id="lthsolr_table" class="display" cellspacing="0" cellpadding="0" width="100%">
    <thead><tr><th></th></tr></thead>
    <tbody id="table_data_container">
        
    </tbody>
</table>-->

<script id="solrTemplate" type="text/x-jquery-templ">
    <ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#1a">Översikt</a></li>
  <li><a data-toggle="tab" href="#2a">Bibtex</a></li>
</ul>
    <div class="tab-content clearfix">
        <div class="tab-pane active" id="1a">
            <div id="lthsolrAbstract">
                <div class="textblock more-content" style="height: 80px; overflow: hidden;">###abstract###</div>

                <a href="#" onclick="showMore();return false;" class="readmore" data-height="144">###more###</a>
            </div>

            <div>
                ###authors###
                ###supervisorName###
                ###organisations###
                ###externalOrganisations###
                ###publicationDateYear###
                ###keywordsUser###
                ###language###
                ###publicationType###
                ###documentUrl###
            </div>
        </div>

        <div class="tab-pane" id="2a">
            ###bibtex###
        </div>

    </div>
  
</script>