<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
</head>
<body>

  <h1>FORM</h1>
<!--###T3REGISTRATION_FORM### Start-->


###DELETE_BLOCK###
  <!--###ERROR_DESCRIPTION_FULL_BLOCK### Start-->
  <li>###DESCRIPTION###
      <ul>###ERRORS###</ul></li>
  <!--###ERROR_DESCRIPTION_FULL_BLOCK### Stop -->
  
    <script language="javascript">
        
    $(document).ready(function(){
    });
  </script>
  
      <div class="form-horizontal">

<!--###EMAIL_FIELD### Start-->
    <!--###ERROR_FIELD### Start-->
    <div  class="###CLASS_ERROR###">###ERROR_LABEL###</div>
    <!--###ERROR_FIELD### Stop-->
    <label class="control-label" for="###FIELD_NAME_ID###">###FIELD_LABEL###</label> ###AUTO_FIELD###
<!--###EMAIL_FIELD### Stop-->
  
<!--###FIRST_NAME_FIELD### Start-->
    <!--###ERROR_FIELD### Start-->
    <div class="###CLASS_ERROR###">###ERROR_LABEL###</div>
    <!--###ERROR_FIELD### Stop-->
    <label class="control-label" for="###FIELD_NAME_ID###">###FIELD_LABEL###</label> ###AUTO_FIELD###
<!--###FIRST_NAME_FIELD### Stop-->

<!--###LAST_NAME_FIELD### Start-->
    <!--###ERROR_FIELD### Start-->
    <div  class="###CLASS_ERROR###">###ERROR_LABEL###</div>
    <!--###ERROR_FIELD### Stop-->
    <label class="control-label" for="###FIELD_NAME_ID###">###FIELD_LABEL###</label> ###AUTO_FIELD###
<!--###LAST_NAME_FIELD### Stop-->

<!--###PASSWORD_FIELD### Start-->
    <!--###ERROR_FIELD### Start-->
    <div class="###CLASS_ERROR###">###ERROR_LABEL###</div>
    <!--###ERROR_FIELD### Stop-->
    <label class="control-label" for="###FIELD_NAME_ID###">###FIELD_LABEL###</label> ###AUTO_FIELD###
<!--###PASSWORD_FIELD### Stop-->

<!--###PASSWORDTWICE_FIELD### Start -->
    <!--###ERROR_FIELD### Start-->
    <div class="###CLASS_ERROR###">###ERROR_LABEL###</div>
    <!--###ERROR_FIELD### Stop-->
    <label class="control-label" for="###FIELD_NAME_ID###">###FIELD_LABEL### *</label> ###AUTO_FIELD###
<!--###PASSWORDTWICE_FIELD### Stop -->

<!--###STATUS_FIELD### Start-->
    <!--###ERROR_FIELD### Start-->
     <div  class="###CLASS_ERROR###">###ERROR_LABEL###</div>
    <!--###ERROR_FIELD### Stop-->
    <label class="control-label" for="###FIELD_NAME_ID###">###FIELD_LABEL###</label> ###AUTO_FIELD###
<!--###STATUS_FIELD### Stop-->

<!--###TELEPHONE_FIELD### Start-->
    <!--###ERROR_FIELD### Start-->
    <div  class="###CLASS_ERROR###">###ERROR_LABEL###</div>
    <!--###ERROR_FIELD### Stop-->
    <label class="control-label" for="###FIELD_NAME_ID###">###FIELD_LABEL###</label> ###AUTO_FIELD###
<!--###TELEPHONE_FIELD### Stop-->

<!--###NAME_FIELD### Start-->
    <!--###ERROR_FIELD### Start-->
     <div  class="###CLASS_ERROR###">###ERROR_LABEL###</div>
    <!--###ERROR_FIELD### Stop-->
    <label class="control-label" for="###FIELD_NAME_ID###">###FIELD_LABEL###</label> ###AUTO_FIELD###
<!--###NAME_FIELD### Stop-->

<!--###USERNAME_FIELD### Start-->
    <!--###ERROR_FIELD### Start-->
     <div  class="###CLASS_ERROR###">###ERROR_LABEL###</div>
    <!--###ERROR_FIELD### Stop-->
    <label class="control-label" for="###FIELD_NAME_ID###">###FIELD_LABEL###</label> ###AUTO_FIELD###
<!--###USERNAME_FIELD### Stop-->

<!--###IMAGE_FIELD### Start-->
    <!--###ERROR_FIELD### Start-->
     <div  class="###CLASS_ERROR###">###ERROR_LABEL###</div>
    <!--###ERROR_FIELD### Stop-->
    <label class="control-label" for="###FIELD_NAME_ID###">###FIELD_LABEL###</label> ###AUTO_FIELD###
<!--###IMAGE_FIELD### Stop-->

<!--###ZIPCODE_FIELD### Start-->
    <!--###ERROR_FIELD### Start-->
     <div  class="###CLASS_ERROR###">###ERROR_LABEL###</div>
    <!--###ERROR_FIELD### Stop-->
    <label class="control-label" for="###FIELD_NAME_ID###">###FIELD_LABEL###</label> ###AUTO_FIELD###
<!--###ZIPCODE_FIELD### Stop-->

<!--###ADDRESS_FIELD### Start-->
    <!--###ERROR_FIELD### Start-->
     <div  class="###CLASS_ERROR###">###ERROR_LABEL###</div>
    <!--###ERROR_FIELD### Stop-->
    <label class="control-label" for="###FIELD_NAME_ID###">###FIELD_LABEL###</label> ###AUTO_FIELD###
<!--###ADDRESS_FIELD### Stop-->

<!--###CITY_FIELD### Start-->
    <!--###ERROR_FIELD### Start-->
     <div  class="###CLASS_ERROR###">###ERROR_LABEL###</div>
    <!--###ERROR_FIELD### Stop-->
    <label class="control-label" for="###FIELD_NAME_ID###">###FIELD_LABEL###</label> ###AUTO_FIELD###
<!--###CITY_FIELD### Stop-->

<!--###COMPANY_FIELD### Start-->
    <!--###ERROR_FIELD### Start-->
     <div  class="###CLASS_ERROR###">###ERROR_LABEL###</div>
    <!--###ERROR_FIELD### Stop-->
    <label class="control-label" for="###FIELD_NAME_ID###">###FIELD_LABEL###</label> ###AUTO_FIELD###
<!--###COMPANY_FIELD### Stop-->

<!--###RECEIVE_EMAILS_AS_HTML_FIELD### Start-->
    <input type="hidden" name="tx_t3registration_pi1[receive_emails_as_html]" id="receive_emails_as_html" value="1" />
<!--###RECEIVE_EMAILS_AS_HTML_FIELD### Stop-->

<!--###ACTIVATE_NEWSLETTER_FIELD### Start-->
    <input type="hidden" name="tx_t3registration_pi1[activate_newsletter]" id="activate_newsletter" value="1" />
<!--###ACTIVATE_NEWSLETTER_FIELD### Stop-->


###RESEND_CONFIRMATION_CODE_BLOCK###
      </div>
<!--###T3REGISTRATION_FORM### Stop -->





  <!--###T3REGISTRATION_FORM_UPDATEPROFILE### Start-->
  <script language="javascript">
        
    $(document).ready(function(){
    });
  </script>
  
  <div >registrations</div>
  
  <!--###USERNAME_FIELD### Start-->
  ###AUTO_FIELD###
  <!--###USERNAME_FIELD### Stop-->

  <!--###PID_FIELD### Start-->
  ###AUTO_FIELD###
  <!--###PID_FIELD### Stop-->


  <!--###IMAGE_FIELD### Start-->
  <!--###ERROR_FIELD### Start-->
  <div  class="###CLASS_ERROR###">###ERROR_LABEL###</div>
  <!--###ERROR_FIELD### Stop-->
  <label class="control-label" for="###FIELD_NAME_ID###">###FIELD_LABEL###</label> ###AUTO_FIELD###
  <!--###IMAGE_FIELD### Stop-->
  
  
  <!--###LTH_SOLR_INTRO_FIELD### Start-->
  <!--###ERROR_FIELD### Start-->
  <div  class="###CLASS_ERROR###">###ERROR_LABEL###</div>
  <!--###ERROR_FIELD### Stop-->
  <label class="control-label" for="###FIELD_NAME_ID###">###FIELD_LABEL###</label> ###AUTO_FIELD###
  <!--###LTH_SOLR_INTRO_FIELD### Stop-->
  
  
    <!--###LTH_SOLR_TXT_FIELD### Start-->
  <!--###ERROR_FIELD### Start-->
  <div  class="###CLASS_ERROR###">###ERROR_LABEL###</div>
  <!--###ERROR_FIELD### Stop-->
  <label class="control-label" for="###FIELD_NAME_ID###">###FIELD_LABEL###</label> ###AUTO_FIELD###
  <!--###LTH_SOLR_TXT_FIELD### Stop-->
  
  <!--###T3REGISTRATION_FORM_UPDATEPROFILE### Stop-->

  
  
  

<!--###T3REGISTRATION_PREVIEW### Start-->
<style type="text/css">
td {padding:10px !important;}
</style>
      <table class="table table-striped">
        <tr>
            <td>###EMAIL_LABEL###</td><td> ###EMAIL_VALUE###</td>
        </tr>
        <tr>
            <td>###FIRST_NAME_LABEL### </td><td>###FIRST_NAME_VALUE###</td>
        </tr>
        <tr>
            <td>###LAST_NAME_LABEL### </td><td>###LAST_NAME_VALUE###</td>
        </tr>
        <tr>
            <td>###TELEPHONE_LABEL### </td><td>###TELEPHONE_VALUE###</td>
        </tr>
        <tr>
            <td>###ZIPCODE_LABEL### </td><td>###ZIPCODE_VALUE###</td>
        </tr>
        <tr>
            <td>###ADDRESS_LABEL### </td><td>###ADDRESS_VALUE###</td>
        </tr>
        <tr>
            <td>###CITY_LABEL### </td><td>###CITY_VALUE###</td>
        </tr>
        <tr>
            <td>###COMPANY_LABEL### </td><td>###COMPANY_VALUE###</td>
        </tr>
        <tr>
            <td>###STATUS_LABEL### </td><td>###STATUS_VALUE###</td>
        </tr>
      </table>
<!--###T3REGISTRATION_PREVIEW### Start-->




<!--###T3REGISTRATION_PREVIEW_UPDATEPROFILE### Start-->
<div >Preview</div>
###FIRST_NAME_LABEL### ###FIRST_NAME_VALUE###<BR />
###LAST_NAME_LABEL### ###LAST_NAME_VALUE###<BR />
###NAME_LABEL### ###NAME_VALUE###<BR />
###TELEPHONE_LABEL### ###TELEPHONE_VALUE###<BR />
###EMAIL_LABEL### ###EMAIL_VALUE###<BR />
###IMAGE_LABEL### ###IMAGE_VALUE###
<!--###T3REGISTRATION_PREVIEW_UPDATEPROFILE### Start-->



  
<!--###T3REGISTRATION_ENDREGISTRATION### Start-->
<p> ###FINAL_REGISTRATION_TEXT###</p>
<p>###SIGNATURE###</p>
<!--###T3REGISTRATION_ENDREGISTRATION### Stop-->


<!--###T3REGISTRATION_ENDUPDATEPROFILE### Start-->
###UPDATE_PROFILE_TEXT###
###SIGNATURE###
<!--###T3REGISTRATION_ENDUPDATEPROFILE### Stop-->


<!--###T3REGISTRATION_DELETE### Start-->
###DELETE_TEXT###
###DELETE_LINK###
<!--###T3REGISTRATION_DELETE### End-->


<!--###T3REGISTRATION_SENDCONFIRMATIONEMAIL_FORM### Start-->323
###DESCRIPTION_TEXT###
###LABEL### ###REQUEST###
###FORM_BUTTONS###
<!--###T3REGISTRATION_SENDCONFIRMATIONEMAIL_FORM### End-->


<!--###T3REGISTRATION_SENDCONFIRMATIONEMAIL_TEXT### Start-->330
###DESCRIPTION_TEXT###
<!--###T3REGISTRATION_SENDCONFIRMATIONEMAIL_TEXT### End-->



**************************************************TEXT AFTER EMAIL SENT**************************************

<!--###T3REGISTRATION_DELETE_SENTEMAIL### Start-->
<p>###DELETE_TEXT###</p>
<p>###SIGNATURE###</p>
<!--###T3REGISTRATION_DELETE_SENTEMAIL### End-->


<!--###T3REGISTRATION_DELETE_CONFIRMATION### Start-->
<p>###DELETE_TEXT###</p>
<!--###T3REGISTRATION_DELETE_CONFIRMATION### End-->


<!--###T3REGISTRATION_CONFIRMEDUSER### Start-->
<p>1 ###DESCRIPTION_TEXT###</p>
<p>###SIGNATURE###</p>
<!--###T3REGISTRATION_CONFIRMEDUSER### Stop-->


<!--###T3REGISTRATION_CONFIRMEDAUTHORIZEDUSER### Start-->
<p>2 ###DESCRIPTION_TEXT###</p>
<p>###SIGNATURE###</p>
<!--###T3REGISTRATION_CONFIRMEDAUTHORIZEDUSER### Stop-->


<!--###T3REGISTRATION_CONFIRMEDONREDIRECT### Start-->
<p>3 ###DESCRIPTION_TEXT###</p>
<p>###SIGNATURE###</p>
<!--###T3REGISTRATION_CONFIRMEDONREDIRECT### Stop-->


***************************************EMAIL HTML*********************************************************

<!--###T3REGISTRATION_CONFIRMATION_EMAIL_HTML### Start-->
###DESCRIPTION_HTML_TEXT###
###CONFIRMATION_LINK###
###SIGNATURE###
<!--###T3REGISTRATION_CONFIRMATION_EMAIL_HTML### Stop-->

<!--###T3REGISTRATION_DELETE_EMAIL_HTML### Start-->
###DESCRIPTION_HTML_TEXT###
###DELETE_LINK###
###SIGNATURE###
<!--###T3REGISTRATION_DELETE_EMAIL_HTML### Stop-->

<!--###T3REGISTRATION_CONFIRMEDONADMINAPPROVAL_EMAIL_HTML### Start-->
###DESCRIPTION_HTML_TEXT###
###SIGNATURE###
<!--###T3REGISTRATION_CONFIRMEDONADMINAPPROVAL_EMAIL_HTML### Stop-->

<!--###T3REGISTRATION_AUTHORIZATION_EMAIL_HTML### Start-->
###DESCRIPTION_HTML_TEXT###
###CONFIRMATION_LINK###
###SIGNATURE###
<!--###T3REGISTRATION_AUTHORIZATION_EMAIL_HTML### Stop-->

EMAIL TEXT

<!--###T3REGISTRATION_CONFIRMATION_EMAIL_TEXT### Start-->
###DESCRIPTION_TEXT_TEXT###
###CONFIRMATION_LINK###
###SIGNATURE###
<!--###T3REGISTRATION_CONFIRMATION_EMAIL_TEXT### Stop-->

<!--###T3REGISTRATION_DELETE_EMAIL_TEXT### Start-->
###DESCRIPTION_TEXT_TEXT###
###DELETE_LINK###
###SIGNATURE###
<!--###T3REGISTRATION_DELETE_EMAIL_TEXT### Stop-->

<!--###T3REGISTRATION_CONFIRMEDONADMINAPPROVAL_EMAIL_TEXT### Start-->
###DESCRIPTION_TEXT_TEXT###
###SIGNATURE###
<!--###T3REGISTRATION_CONFIRMEDONADMINAPPROVAL_EMAIL_TEXT### Stop-->

<!--###T3REGISTRATION_AUTHORIZATION_EMAIL_TEXT### Start-->
###DESCRIPTION_TEXT_TEXT###
###CONFIRMATION_LINK###
###SIGNATURE###
<!--###T3REGISTRATION_AUTHORIZATION_EMAIL_TEXT### Stop-->

</body>
</html>